.cart{
    color: White;
    float:right; 
    vertical-align: top; 
    margin-right:3%; 
    margin-top:2%; }
 .cart > a{
     color: White;
     font-size:14px;
  }
  .cart >span{
    background-color: rgb(216, 142, 93) ;
    height:5%;
    font-size: 14px;
    padding:3px;
    padding-left:5px;
    padding-right:5px;
    margin-top:2px;
    vertical-align:top;
  }  
.cartModal .modal-body {
    max-height: calc(100vh - 212px);
    min-height: calc(100vh - 212px);
    overflow-y: auto;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 35px;
    font-size: 14px;
    line-height: 20px;
    color : #333333;
    background-color:white;  
}

.cartModal .modal-body > img {
   height: 80%;
   width:80%;
   vertical-align: center; 
}
.cartModal .modal-header {
    border-bottom: 1px solid #d0d0d0;
    padding: 9px 9px;
    padding-left: 35px;
    background-color: rgb(216, 142, 93) ;
    border-radius:6px 6px 0 0;
    border-bottom : 1px solid #d0d0d0;
}
.cartModal .modal-footer {
    border-top: 1px solid #d0d0d0;
    padding: 9px 9px;
    color:white;
    background-color: rgb(216, 142, 93) ;
    border-radius:0 0 6px 6px;
}

.cartModal .modal-footer>h4:first-of-type {
   float:right;
   margin-right:10%;
}
.cartModal .modal-footer>h4:nth-of-type(2n) {
    float:left;
    margin-left:10%;
 }
.sr-only, .close{
    color:black;
}
.modal-body > input{
    width: 80%;
    border: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom:20px;
    outline: 0;
    border-bottom: 1px solid #e2e2e2;
}
.modal-header .modal-title {
    font-size: 15px;
    color: white;
    line-height: 40px;
}
.cartItem{
    border-bottom: 1px solid grey;
    margin-top:3%;
    padding-bottom:15%;
    height:20%;
}
.cart_vn_image{
height:4%;
width:4%;
float:left;
}
.cart_part_1{
    height:50%;
    padding-bottom:3%;
}
.cart_food_name{
    margin-left:6%;
    font-size:12px;
    width:60%;
    font-weight: bold;
    float:left;
}
.cart_add_button{
    float:right;
    text-align: right;
    width:70%;
    height: 4%;
    padding-right:20%;
}
.cart_item_remove{
    float:right;
    width:15%;
}
.cart_item_remove>button{
    background-color:rgb(216, 142, 93) ;
    font-size: 12px;
    color:white ;
    font-weight:bold;
}
.cart_cost{
    margin-top:2%;
    padding-left:8%;
    text-align: left;
    vertical-align: top;
    margin-bottom:4%;
    float:left;
    height:20%;
    color:rgb(216, 142, 93);
    font-size:17px;
    font-weight: bold;
    width:30%
}
@media all and (max-width: 600px) {
    .cart > a{
        color: White;
        font-size:12px;
     }
     .cart >span{
       background-color: rgb(216, 142, 93) ;
       height:5%;
       font-size: 12px;
       padding:3px;
       padding-left:5px;
       padding-right:5px;
       margin-top:2px;
       vertical-align:top;
     }
}

@media all and (min-width: 900px) {
    .cartModal, .cartModal>.modal-content{
      width:60%;
      margin-left:20%;
    }
}